form 
{
    margin: 0 0 15px;
}

#products 
{
    list-style-type: none;
    margin: 25px 0 0 0;
}

#products li.product 
{
    font-size: 13px;
    float: left;
    height: 115px;
    padding: 0 20px;
    margin-bottom: 20px;
    text-align: center;
}

#products li.product .desc 
{
    display: block;
    width: 200px;
    font-size: 1.3em;
}

#products li.product .price 
{
    margin: 5px 0;
    font-size: 1.1em;
}

#shoppingList tr th:first-child,
#shoppingList tr th:nth-child(3),
#shoppingList tr th:nth-child(4),
#shoppingList tr th:nth-child(5),
#shoppingList tr th:last-child,
#shoppingList tr td:first-child,
#shoppingList tr td:nth-child(3),
#shoppingList tr td:nth-child(4),
#shoppingList tr td:nth-child(5),
#shoppingList tr td:last-child
{
    text-align: center;
}

#shoppingList .quantity
{
    width: 30px;
}

.btn-remove
{
    background-image: -webkit-linear-gradient(top,#fffeb8,#c49c38);
}

.btn-remove:hover
{
    background-color: #c49c38;
    text-shadow: 0 -1px 0 rgba(255,255,255,0.25);
    color: #333;
    text-decoration: none;
}

.custom-confirm
{
    width:250px; 
    min-height:120px; 
    top: 45%; 
    left:45%;
    margin:-50px 0px 0px -50px; 
    z-index:12000;
}
.custom-confirm .modal-body
{
    font-size:14px;
    font-weight: bold;
    text-align: center;
}
.custom-confirm .controls
{
    width: 150px;
    margin:0 auto;
    margin-top: 20px;
}
.controls button
{
    margin-right: 10px;
}

#empty-cart-form 
{
    margin: 0;
}
